@import '../../../../styles/variables';

:host, 
top-nav {
	position: fixed;
	width: 100vw;
	height: 65px;
	top: 0;
	left: 0;
   
    z-index: 99999;
    
    background-color: #fcfafd;
    

    .search{
        float: left;
        height: 100%;
        position: relative;
        width: $SideBarWidth;
        svg {
            max-height: 21px;
                position: absolute;
    left: 50%;
    width: 21px;
    transform: translate(-50%,-50%);
    top: 50%;
            path {
                fill: $darkBlue;
            }
            
        }
    }


    
    
    
}