<h4>Colours used in Pattern Name</h4>
<div class="l_flex">
	<div class="l_flex--equal" *ngFor="#colour of colours">
		<div (click)="displayCopied()" copy-to-clipboard datatocopy="{{colour.hex}}" (mouseenter)="selectColour(colour)" [ngStyle]="{'background-color': colour.hex}"
		class="colour"></div>
	</div>
</div>
<div [ngStyle]="{'color': colourHex}" class="colourDescription" *ngIf="colourName">
	<h4>{{colourName}}</h4>
	<h5 (click)="displayCopied()" copy-to-clipboard datatocopy="{{colourHex}}">{{colourHex}}</h5>
	<h6 (click)="displayCopied()" copy-to-clipboard datatocopy="{{colourRGB.r}},{{colourRGB.g}},{{colourRGB.b}}">{{colourRGB.r}},{{colourRGB.g}},{{colourRGB.b}}</h6>
</div>