<section>
	<h1>Configuration</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur omnis cumque perspiciatis, neque maiores ipsa, quae ducimus consequatur. Minima, inventore nesciunt assumenda dicta facere harum et ipsam officia adipisci unde.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quidem placeat possimus, explicabo, unde vel accusamus soluta quasi magnam? Optio cupiditate animi doloremque? At enim voluptatem, quidem saepe repellat, sed.</p>
</section>
