<section id="main" class="contextBar--isActive">
	<h1>Pattern Name</h1>
	<h2>Sub name</h2>
	<drop-zone></drop-zone>
	<edit-bar></edit-bar>
	<div class="text" hover-edit>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae praesentium cupiditate nisi accusamus, autem obcaecati, vero mollitia inventore fuga totam sit? Saepe quas, debitis eaque sequi nulla amet minima quod!</p>
	</div>
	<drop-zone></drop-zone>
	<edit-bar></edit-bar>
	<historical-view hover-edit></historical-view>
	<drop-zone></drop-zone>
	<edit-bar ></edit-bar>
	<html-view drag-handle hover-edit></html-view>
	<drop-zone></drop-zone>
	<edit-bar></edit-bar>
	<comments drag-handle hover-edit class="inset"></comments>
</section>
<section id="contextualBar">
	<colour-displayer></colour-displayer>
	<font-displayer></font-displayer>
</section>
