<section id="main" class="">
	<h1>{{section.name}}</h1>
	<div *ngIf="!section.data" hover-edit>
		<edit-bar index="0"></edit-bar>
		<section>
			<p>You haven't added any components or patterns yet.</p>
		</section>
		
	</div>
	<div *ngFor="#entry of section.data, #i = index" hover-edit>
		<edit-bar [index]="i"></edit-bar>
		<component-loader *ngIf="entry.type=='component'" [loader]="entry.ref" [data]="entry.data"></component-loader>
		<pattern-loader *ngIf="entry.type=='pattern'" [loader]="entry.ref"></pattern-loader>
	</div>
	
</section>


