<section class="slot comment">
	<div class="slot__figure">
		<img src="https://scontent-lhr3-1.xx.fbcdn.net/hprofile-xpf1/v/t1.0-1/p320x320/12243117_10207277849976393_7181252736468864085_n.jpg?oh=3a90491d72e0a8a07abd4799ce1c6dd5&oe=56E88C40" alt="">
	</div>
	<div class="slot__content">
		<h3><strong>Andy Devan</strong> - Designer</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non voluptate ipsam reprehenderit, vel obcaecati numquam repellat quasi saepe quo soluta, iste maiores eveniet sint tempora est quam? Praesentium, eum natus!</p>
	</div>
</section>