:host,
text-edit{
	.c-extend-bar__background{
		background-color: black;
	}
	.c-extend-bar__alt-btn {
		svg {
    		width: 10px;
    		margin-left: -2px;
			path {
				fill: white;
			}
		}
	}
	#toolbar{
		height: 50px;
		position: absolute;
		width: 100%;
		top: 0;
		z-index: 9;
		
		& > .btn--toolbar {
			background-color: transparent;
			color: white;
			height: 45px;
			border: none;
			padding: 0;
			font-size: 14px;
			padding: 0 12px;
		}
		
	}	
	#editor {
		margin-top:45px;
		height: initial;
		padding: 12px 0;float:left;
	}
	
}
