<div id="menu-icon-wrapper" class="menu-icon-wrapper">

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" xml:space="preserve">
<path id="pathA" class="st0" d="M56.2,22.7h40c17.2,0,14,24.7-10,35c-21.4,5.4-43.2-7.6-48.6-29c-3.2-12.7,0-26.1,8.6-36l60,60"/>
<path id="pathB" class="st0" d="M76.2,2.7v42c-42.9,4.5-40-52-10-57c21.7-3.9,42.6,9.7,46.7,30.3S102.7,58.5,81,62.4
	c-12.5,2.2-25.5-1.4-34.8-9.7l60-60"/>
</svg>

	<button id="menu-icon-trigger" class="menu-icon-trigger"></button>
</div>