@import './../../../../styles/_variables.scss';

:host,
component-loader {
	width: 100%;
	float: left;
	position: relative;
    transform:translateZ(0);
    margin-bottom: $margin;
	
	
	&.TextBlock{
		.c-extend-bar__buttons  {
			
		}
	}
}